@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
 @include foundation-grid; @include foundation-flex-grid;
//
@include foundation-xy-grid-classes;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-card;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-responsive-embed;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-flex-classes;

// @include foundation-prototype-classes;

@include motion-ui-transitions;
@include motion-ui-animations;


body {
  background: #2c3840;
  color: #fff;
}

hr {
  color:#999;
  height: 1px;
  margin-bottom: 20px;
}

/*.grid-container {
  border: 1px solid red;
}*/

// Topbar

.topbar-responsive {
  background: $topbar-responsive-bg;
  padding: 1rem 1.5rem;
  /*border: 1px solid red;*/

  .topbar-responsive-logo {
    color: $white;
    vertical-align: middle;
    font-family: 'Vollkorn SC', serif;
    //font-size: 12px;
  }

  .menu {
    background: $topbar-responsive-bg;

    li:last-of-type {
      margin-right: 0;
    }

    a {
      color: $white;
      transition: color 0.15s ease-in;

      &:hover {
        color: lighten($topbar-responsive-bg, 60%);
      }

      @media screen and (max-width: 39.9375em) {
        padding: 0.875rem 0;
      }
    }

    .topbar-responsive-button {
      color: $white;
      border-color: $white;
      border-radius: 5000px;
      transition: color 0.15s ease-in, border-color 0.15s ease-in;

      &:hover {
        color: lighten($topbar-responsive-bg, 60%);
        border-color: lighten($topbar-responsive-bg, 60%);
      }

      @media screen and (max-width: 39.9375em) {
        width: 100%;
        margin: 0.875rem 0;
      }
    }
  }

   @media screen and (max-width: 39.9375em) {
     padding: 0.75rem;

    .top-bar-title {
      position: relative;
      width: 100%;

      span {
        position: absolute;
        right: 0;
        border: 1px solid $white;
        border-radius: 5px;
        padding: 0.25rem 0.45rem;
        top: 50%;
        transform: translateY(-50%);

        .menu-icon {
          margin-bottom: 4px;
        }
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity:0;
  } to {
    opacity:1;
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@include breakpoint(small only) {
  .topbar-responsive-links {
    animation-fill-mode: both;
    animation-duration: 0.5s;
    width: 100%;

    @if $topbar-responsive-animation-type == slide-down {
      animation: slideDown 1s ease-in;
    } @else if $topbar-responsive-animation-type == fade-in {
      animation: fadeIn 1s ease-in;
    } @else {
      animation: none;
    }
  }
}

// Hero Section

.hero-section {
  background: url("../img/happy.jpg") 50% no-repeat;
  background-size: cover;
  /*background: #333;*/
  //border: 1px solid #fff;
  height: $hero-height;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  .hero-section-text {
    color: $white;
    text-shadow: 1px 1px 2px $black;
  }
}

// Feature CSS

@import 'components/building-blocks/four-up-feature';

div.four-up-feature-header h2{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.round {
  border-radius: 50%;
}

.marketing-site-footer {
  background: $marketing-site-footer-bg;
  color: lighten($marketing-site-footer-bg, 40%);
  padding: 2rem 0 0;

  .marketing-site-footer-menu-social a {
    color: $white;
  }

  .column-block {
    margin-bottom: 30px;
  }

  > .row {
    margin-bottom: 1rem;
  }

  @include breakpoint(small only) {
    .columns {
      margin-bottom: 2rem;
    }
  }
}

.marketing-site-footer-name {
  color: $white;
  margin-bottom: 1rem;
  font-size: 2rem;
}

.marketing-site-footer-title {
  color: $white;
  margin-bottom: 1rem;
  font-size: 1.25rem;
}

.marketing-site-footer-block {
  display: flex;
  margin-bottom: 1rem;

  .fa {
    font-size: 2rem;
    color: darken($marketing-site-footer-bg, 20%);
  }

  p {
    margin-left: 1rem;
    line-height: 1.125rem;
  }
}

.marketing-site-footer-bottom {
  /*background: darken($marketing-site-footer-bg, 20%);*/
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  margin-bottom: 20px;
  padding: 1rem 0;

  p,
  .menu {
    margin-bottom: 0;
  }

  .marketing-site-footer-bottom-links {
    justify-content: flex-end;

    a {
      color: lighten($marketing-site-footer-bg, 40%);
    }

    @include breakpoint(medium down) {
      justify-content: center;
    }
  }

  @include breakpoint(medium down) {
    text-align: center;
  }
}

.product-header {
  text-align: center;
}

.product-card {
  background-color: #2c3840;
  /*border: 1px solid $light-gray;*/
  padding: 1rem;
  margin-bottom: 1.5rem;
}

.product-card-thumbnail {
  display: block;
  position: relative;
}

.product-card-title {
  font-family: 'Open sans', sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.45rem;
  margin-top: 1rem;
  margin-bottom: 0;

  a {
    color: #888;
  }
}

.product-card-desc {
  color: $dark-gray;
  display: block;
  font-family: 'Open sans', sans-serif;
  font-size: 0.85rem;
}

.product-card-price {
  color: $white;
  display: inline-block;
  font-size: 1.10rem;
  font-weight: 600;
  margin-top: 0.8rem;
}

.product-card-sale {
  color: $medium-gray;
  display: inline-block;
  font-size: 0.85rem;
  margin-left: 0.3rem;
  text-decoration: line-through;
}

.product-card-colors {
  display: block;
  margin-top: 0.8rem;
}

.product-card-color-option {
  display: inline-block;
  height: 25px;
  width: 25px;
}
