<div class="grid-container">
  <div class="grid-x grid-margin-x">
    <div class="featured-image-block-grid large-12">
      <div class="featured-image-block-grid-header small-10 medium-8 large-12 columns text-center">
        <h2>Top Destinations</h2>
        <p>Start planning your travels here with the latest deals for popular destinations.</p>
      </div>
    </div>
  </div>
  <div class="grid-x grid-margin-x">
      <div class="featured-image-block-grid"> 
        <div class="row large-up-4 small-up-2">
          <div class="featured-image-block column">
          <a href="#">
              <img src="https://placehold.it/600x400" />
              <p class="text-center featured-image-block-title">New York</p>
            </a>
          </div>
          
          <div class="featured-image-block column">
          <a href="#">
              <img src="https://placehold.it/600x400" />
              <p class="text-center featured-image-block-title">San Francisco</p>
            </a>
          </div>
          
          <div class="featured-image-block column">
          <a href="#">
              <img src="https://placehold.it/600x400" />
              <p class="text-center featured-image-block-title">Las Vegas</p>
            </a>
          </div>
          
          <div class="featured-image-block column">
          <a href="#">
              <img src="https://placehold.it/600x400" />
              <p class="text-center featured-image-block-title">Sacramento</p>
            </a>
          </div>
          
          <div class="featured-image-block column">
          <a href="#">
              <img src="https://placehold.it/600x400" />
              <p class="text-center featured-image-block-title">Los Angeles</p>
            </a>
          </div>
        
          <div class="featured-image-block column">
          <a href="#">
              <img src="https://placehold.it/600x400" />
              <p class="text-center featured-image-block-title">Chicago</p>
            </a>
          </div>
          
          <div class="featured-image-block column">
          <a href="#">
              <img src="https://placehold.it/600x400" />
              <p class="text-center featured-image-block-title">Boston</p>
            </a>
          </div>
      
          <div class="featured-image-block column">
          <a href="#">
              <img src="https://placehold.it/600x400" />
              <p class="text-center featured-image-block-title">Seattle</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
