.four-up-feature {
  text-align: center;

  .four-up-feature-header {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    display: flex;
  }

  .four-up-feature-image {
    margin-bottom: 2rem;
  }

  .four-up-feature-text {
    margin-bottom: 2rem;
  }
}
